{% load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="{% static 'front_assets/src/images/logo.svg' %}"
                alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="index.html"><img
                src="{% static 'front_assets/src/images/logo-mini.svg' %}" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">Feature Library</h5>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item nav-category">
            <span class="nav-link"></span>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'celery_demonstration:demo' %}">
                <span class="menu-icon">
                    <i class="mdi mdi-rocket"></i>
                </span>
                <span class="menu-title">Celery Demo</span>
            </a>
        </li>
    </ul>
</nav>